In [1]:
from sklearn import cross_validation, grid_search, linear_model, metrics, pipeline, preprocessing

import numpy as np
import pandas as pd
%pylab inline

/home/toxa/anaconda3/envs/py27/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/toxa/anaconda3/envs/py27/lib/python2.7/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

Populating the interactive namespace from numpy and matplotlib

In [21]:
import fileinput
import sys

for line in fileinput.input("c.dat", inplace = 1): 
      print line.replace(' ', '')

In [27]:
raw_data = pd.read_csv('c.dat', header = 0, sep = '|')
raw_data.head()

       id    user_id  venue_id   latitude  longitude          created_at
0  984301  2041916.0    5222.0        NaN        NaN  2012-04-2117:39:01
1  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-2117:43:47
2  984315  1764391.0    5222.0        NaN        NaN  2012-04-2117:37:18
3  984234    44652.0    5222.0  33.800745 -84.410520  2012-04-2117:43:43
4  984249  2146840.0    5222.0        NaN        NaN  2012-04-2117:42:58

In [28]:
raw_data.dropna(inplace=True)
raw_data.head()

        id    user_id  venue_id   latitude   longitude          created_at
1   984222    15824.0    5222.0  38.895112  -77.036366  2012-04-2117:43:47
3   984234    44652.0    5222.0  33.800745  -84.410520  2012-04-2117:43:43
7   984291   105054.0    5222.0  45.523452 -122.676207  2012-04-2117:39:22
9   984318  2146539.0    5222.0  40.764462 -111.904565  2012-04-2117:35:46
10  984232    93870.0  380645.0  33.448377 -112.074037  2012-04-2117:38:18

In [ ]:
from sklearn.cluster import MeanShift

data = raw_data.values
data = data[:,3:-1]
data = data[:100000]

print data

clustering = MeanShift(bandwidth=0.1).fit(data)
clustering.labels_

In [ ]:
labels = clustering.labels_
cluster_centers = clustering.cluster_centers_

print("Labels: ")
print labels
print("Claster centres: ")
print cluster_centers

labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

print("number of estimated clusters : %d" % n_clusters_)

# #############################################################################
# Plot result
import matplotlib.pyplot as plt
from itertools import cycle

plt.figure(1)
plt.clf()

colors = cycle('bgrcmykbgrcmykbgrcmykbgrcmyk')
for k, col in zip(range(n_clusters_), colors):
    my_members = labels == k
    cluster_center = cluster_centers[k]
    plt.plot(data[my_members, 0], data[my_members, 1], col + '.')
    plt.plot(cluster_center[0], cluster_center[1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=14)
plt.title('Estimated number of clusters: %d' % n_clusters_)
plt.show()